@using PagedList.Mvc;
@model PagedList.IPagedList<Web.Second.Models.Image>

@{
    ViewBag.Title = "List";
}

<div class="content" id ="links">
   @foreach (var img in Model)
    {
        <div class="mySlides">
            <div class="numbertext">@img.Id / @Model.Count</div>
            <img src="@img.ImagePath" />
        </div>
    }

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

@{
    var count = 1;
}
<div class="row-img">
    @foreach (var img in Model)
    {
        <div class="column">
            <img src="@img.ThumbPath" class="demo cursor" style="width: 100%" onclick="currentSlide(@(count++))">
        </div>
    }
</div>


@Html.PagedListPager(Model, page => Url.Action("List", new { page = page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "links" }))
</div>